/.settings
/.project
/.pydevproject
*.pyc
/tmp/
.idea/
/venv/
/.venv/
/.venv_release/

.ruff_cache/
.complexipy_cache/

## ignore directories created during installation of packages
/build/
/dist/
/src/build/
/src/*.egg-info/
